*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'sans seriff', sans-serif;
    scroll-behavior: smooth;
}
body{
    background: radial-gradient(circle, rgb(21, 53, 100) 30%, rgba(2, 12, 27, 1) 90%);
    color: #e6f1ff;
    overflow-x: hidden;
}
.upper-section{
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 20vh;
    padding: 20px;
    text-align: center;
}
nav, li, a, button{
    font-family: 'sans-serif', sans-serif;
    text-decoration: none;
    display: inline;
    font-weight: 500;
    font-size: 16px;
    color: rgb(0, 34, 255);
    background: none;
    justify-content: space-around;
}
.header-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    background-color: rgb(150, 174, 254);
    backdrop-filter: blur(30%);
}
.logo{
    background: none;
    cursor: pointer;
}
nav{
    list-style: none;
}
.logo{
    background: none;
}
nav li{
    display: inline-block;
    padding:  0px 20px;
    flex-wrap: wrap;
}
nav li a{
    transition: all 0.3s ease 0s;
    border-radius: 15px;
    padding: 9px 25px;
}
nav li a:hover{
    color: rgb(247, 247, 247);
    background-color: blue;
}
button{
    padding: 9px 25px;
    background-color: aliceblue(0,136,169,1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
button:hover{
    background-color: blue;
    color: aliceblue;
}
table{
    justify-content: center;
    align-items: center;
    align-self: center;
    justify-self: center;
}